* {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .headerLogo {
  height: 50px;
}

.header .open-btn {
  border-radius: 50%;
  padding: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: right 0.5s ease;
  z-index: 10;
}

.slide-menu.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  color: #fff;
  background-color: #0d6ba3;
}

.lang-dropdown {
  position: relative;
  display: inline-block;
}

.lang-button {
  background-color: #4591c7;
  border: none;
  color: white;
  padding: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.transparent-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.lang-menu {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #4591c7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9998;
  width: 70px;
}

.lang-option {
  padding: 18px 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.lang-option:hover {
  background-color: #0d6ba3;
}

.navbar-container {
  display: flex;
  overflow-x: auto;
  justify-content: start;
  padding-left: 100px;
  border-radius: 8px;
  scrollbar-width: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  position: relative;
  display: flex;
}

.navbar-category {
  display: flex;
  align-items: center;
}

.nav-item {
  white-space: nowrap;
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #333;
  font-weight: 600;
}

.nav-item.active {
  color: #007bff;
}

.nav-indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #007bff;
  border-radius: 4px;
  transition: all 0.3s ease;
  z-index: 0;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 125px;
  display: inline-block;
  position: relative;
}

.card .card-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card .card-name {
  color: rgba(0, 0, 0, 0.8);
}

.card .card-price {
  color: rgba(0, 160, 0, 0.8);
}

.card .button-group {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.button-group button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}

.menu-alignments {
  display: inline-block;
  vertical-align: top;
}

.cart-bar {
  width: 50%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a74d1;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  z-index: 1000;
  cursor: pointer;
}

.cart-icon {
  font-size: 20px;
  position: relative;
}

.cart-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -10px;
  transform: translate(50%, -50%);
}

.cart-text {
  margin-left: 10px;
}
